In [210]:
import pandas as pd
import numpy as np
# ----------------------------------------------------------------
# 1.
# a.
df = pd.DataFrame({
    'CustomerID': np.arange(1, 11),
    'FirstName': ['John', 'Steve', 'Anna', 'Mike', 'Emily', 'Jake', 'Laura', 'Nick', 'Olivia', 'David'],
    'LastName': ['Smith', 'Johnson', 'Williams', 'Jones', 'Brown', 'Davis', 'Miller', 'Wilson', 'Moore', 'Taylor'],
    'Age': np.random.randint(25, 65, size=10),
    'TotalPurchaseAmount': np.random.randint(100, 1000, size=10)
})

df.info()
# b.
df['classification'] = df['TotalPurchaseAmount'].apply(lambda TPA: "Low" if TPA < 500 else "High")

# c.
df['classification_by_age'] = df.apply(
    lambda row: 'Low Young' if (row['classification'] == "Low" and row['Age'] < 20) else
                'High Old' if (row['classification'] == "High" and row['Age'] >= 20) else
                'Low Old' if (row['classification'] == "Low" and row['Age'] >= 20) else
                'High Young',
    axis=1
)
# ----------------------------------------------------------------
# 2.
# b.
sort_by_alphabet = df.sort_values(['LastName'], inplace=True)
# ----------------------------------------------------------------
# c.
sort_by_tpa_then_age = df.sort_values(['TotalPurchaseAmount', 'Age'], ascending=[True, False], inplace=True)
# ----------------------------------------------------------------
# 3.
# a.
np.random.seed(100)
df = pd.DataFrame(np.random.randint(0,100,size=(20, 10)),
columns=list('ABCDEFGHIJ'))
n_rows, n_cols = df.shape
row_idx = np.random.randint(0, n_rows)
col_idxs = np.random.choice(n_cols, size=n_cols//2, replace=False)
df.iloc[row_idx, col_idxs] = np.nan
n_nan_remaining = 15 - len(col_idxs)
row_idxs = np.random.randint(0, n_rows, size=n_nan_remaining)
col_idxs = np.random.randint(0, n_cols, size=n_nan_remaining)
df.iloc[row_idxs, col_idxs] = np.nan
# b.
df_copy = df.copy()
# c.
df_copy.dropna()
# d.
df_copy2 = df.copy()
np.random.seed(100)
df_copy2 = df_copy2.map(lambda x: np.random.randint(0, 100) if pd.isna(x) else x)
df_copy2
# e.
df_copy3 = df.copy()
df_copy3[['C', 'D']].fillna(df_copy3[['C', 'D']].mean())
# f.
df_copy4 = df.copy()
df_copy4_dropped = df_copy4.dropna(axis=1, thresh=df_copy4.shape[0] - 2)

print(df_copy4_dropped)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CustomerID           10 non-null     int32
 1   FirstName            10 non-null     object
 2   LastName             10 non-null     object
 3   Age                  10 non-null     int32
 4   TotalPurchaseAmount  10 non-null     int32
dtypes: int32(3), object(2)
memory usage: 412.0+ bytes
     B   C     J
0   24  67  98.0
1   66  98  16.0
2   93  86  83.0
3   91  59  14.0
4   71  80  27.0
5   30  48  56.0
6   53  74  68.0
7   91  91  76.0
8   70   3  48.0
9   43  36  42.0
10  95  76  98.0
11  53  68  48.0
12  25  54  30.0
13  24  55  12.0
14  82  67  72.0
15  12  18  54.0
16  66  16  78.0
17  77  84  93.0
18  28  82   NaN
19  90  93  37.0

       A   B   C     D     E     F     G     H     I     J
0    8.0  24  67  87.0  79.0  48.0  10.0  94.0  52.0  98.0
1    NaN  66  98   NaN   NaN   NaN   NaN   NaN   NaN  16.0
2    9.0  93  86   2.0  27.0   4.0  31.0   1.0  13.0  83.0
3    4.0  91  59  67.0   7.0  49.0  47.0  65.0  61.0  14.0
4   55.0  71  80   2.0  94.0  19.0  98.0  63.0  53.0  27.0
5    NaN  30  48   NaN   NaN   NaN   NaN   NaN   NaN  56.0
6    NaN  53  74   NaN   NaN   NaN   NaN   NaN   NaN  68.0
7   50.0  91  91  83.0  53.0  78.0   0.0  13.0  57.0  76.0
8    3.0  70   3  84.0  79.0  10.0  87.0  60.0   3.0  48.0
9   52.0  43  36   5.0  71.0  38.0  86.0  94.0  98.0  42.0
10   NaN  95  76   NaN   NaN   NaN   NaN   NaN   NaN  98.0
11   NaN  53  68   NaN   NaN   NaN   NaN   NaN   NaN  48.0
12   NaN  25  54   NaN   NaN   NaN   NaN   NaN   NaN  30.0
13  66.0  24  55  17.0  45.0  89.0  45.0  35.0  16.0  12.0
14  86.0  82  67  92.0  95.0  20.0  10.0   8.0  89.0  72.0
15  30.0  12  18  93.0  92.0  44.0  57.0   0.0  73.0  54.0
16   NaN  66  16   NaN   NaN   NaN   NaN   NaN   NaN  78.0
17   NaN  77  84   NaN   NaN   NaN   NaN   NaN   NaN  93.0
18   NaN  28  82   NaN   NaN   NaN   NaN   NaN   NaN   NaN
19   NaN  90  93   NaN   NaN   NaN   NaN   NaN   NaN  37.0